@import './variables/variable';
@import './mixins/mixins';
@import './components/card';
@import './components/profile-card';
@import './components/time-options';
// @import './responsive';

body{
  margin: 0;
  font-family: $font-stack;
  background-color: $main-bg;
  color: $text-color;
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
}

.main-container {
  @include column-layout;
}

// responsive
@media screen and (max-width: 900px){
  body {
    padding: 80px 0 60px;
  }

  .time-options {
    @include mobile-card;
  }
}

@media screen and (min-width: 900px) {
  html, body{
    height: 100%;
  }
  .main-container{
    display: grid;
    grid-template: 
      'profile work play study'
      'profile exercise social self-care';
    column-gap: 25px;
  }

  .profile-card{
    .profile{
      @include desktop-card;
      align-items: flex-start;
      padding: 25px;
      img{
        height: 50px;
        margin-bottom: 20px;
      }
  
      div {
        p {
          font-size: 0.7em;
        }
  
        h1{
          font-size: 1.9em;
          margin-bottom: 40px;
        }
      }
    }
  }
  
  .time-options{
    @include desktop-card;
    align-items: flex-start;
    gap: 15px;
    padding: 20px 25px;
  }

  .card{
    width: 190px;   
    @include desktop-card;

    .content-container {
      position: relative;
      // top: -25px;

      header{
        margin-bottom: 20px;
        span:first-child{
          font-size: 13px;
        }
        img{
          width: 15px;
        }
      }
  
      section{
        @include column-layout;
        align-items: flex-start;
        gap: 8px;
        span:first-child {
          font-size: 40px;
        }
        span:last-child{
          font-size: 12px;
        }
      }  
    }
  }
}