$font-stack: Rubik, sans-serif;

// colors
$main-bg: hsl(226, 43%, 10%);
$profile: hsl(246, 80%, 60%);
$element-bg: hsl(235, 46%, 20%);
$time-option: hsl(235, 45%, 61%);
$card-hover: hsl(236, 37%, 36%);
$text-color: hsl(236, 100%, 87%);
$text-hover: white;
$header-color: white;

$work-card: hsl(15, 100%, 70%);
$play-card: hsl(195, 74%, 62%);
$study-card: hsl(348, 100%, 68%);
$exercise-card: hsl(145, 58%, 55%);
$social-card: hsl(264, 64%, 52%);
$selfcare-card: hsl(43, 84%, 65%);

@mixin column-layout{
  display: flex;
  flex-direction: column;
}

@mixin mobile-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin desktop-card{
  @include column-layout;
  justify-content: space-between;
}

@mixin header-color{
  color: $header-color;
}

@mixin card-border{
  border-radius: 10px;
}

@mixin card-padding{
  padding: 25px 20px;
}

body{
  margin: 0;
  font-family: $font-stack;
  background-color: $main-bg;
  color: $text-color;
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
}

.main-container {
  @include column-layout;
}

.profile-card {
  background-color: $element-bg;
  @include card-border;
  margin-bottom: 25px;
  grid-area: profile;

  .profile{
    background-color: $profile;
    padding: 30px;
    display: flex;
    align-items: center;
    @include card-border;

    img{
      height: 60px;
      aspect-ratio: 1 / 1;
      border: 3px solid $header-color;
      border-radius: 50%;
      margin-right: 20px;
    }

    div {
      p {
        margin: 5px 0;
        font-size: 0.85em;
      }

      h1{
        margin: 5px 0;
        font-size: 1.4em;
        font-weight: 300;
        @include header-color;
      }
    }
  }
}

.time-options {
  // @include card;
  @include card-border;
  padding: 20px 30px;

  >* {
    color: $time-option;
    background-color: $element-bg;
    border: none;
    cursor: pointer;

    &:hover{
      color: $text-hover;
    }
  }
}

.card {
  .back{
    display: flex;
    justify-content: end;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    img{
      width: 70px;
      height: 70px;
      aspect-ratio: 1 / 1;
      margin-right: 15px;
      margin-top: -10px;
      object-fit: contain;
    }
  }
  .work{
    background-color: $work-card;
    grid-area: work;
  }
  .play{
    background-color: $play-card;
    grid-area: play;
  }
  .study{
    background-color: $study-card;
    grid-area: study;
  }
  .exercise{
    background-color: $exercise-card;
    grid-area: exercise;
  }
  .social {
    background-color: $social-card;
    grid-area: social;
  }
  .self-care{
    background-color: $selfcare-card;
    grid-area: self-care;
  }

  .content-container {
    background-color: $element-bg;
    @include card-padding;
    @include card-border;
    cursor: pointer;

    position: relative;
    top: -25px;
  
    &:hover{
      background-color: $card-hover;
    }

    header, main {
      @include mobile-card;
      span:first-child{
        color: $header-color;
      }
    }

    header{
      margin-bottom: 8px;
      span:first-child{
        font-size: 15px;
        font-weight: 500;
      }
    }

    main{
      span:first-child {
        font-size: 27px;
        font-weight: 300;
      }
      span:last-child{
        font-size: 14px;
        font-weight: 300;
      }
    }  
  }
}

// responsive
@media screen and (max-width: 900px){
  body {
    padding: 80px 0 60px;
  }

  .time-options {
    @include mobile-card;
  }
}

@media screen and (min-width: 900px) {
  html, body{
    height: 100%;
  }
  .main-container{
    display: grid;
    grid-template: 
      'profile work play study'
      'profile exercise social self-care';
    column-gap: 25px;
  }

  .profile-card{
    .profile{
      @include desktop-card;
      align-items: flex-start;
      padding: 25px;
      img{
        height: 50px;
        margin-bottom: 20px;
      }
  
      div {
        p {
          font-size: 0.7em;
        }
  
        h1{
          font-size: 1.9em;
          margin-bottom: 40px;
        }
      }
    }
  }
  
  .time-options{
    @include desktop-card;
    align-items: flex-start;
    gap: 15px;
    padding: 20px 25px;
  }

  .card{
    width: 190px;   
    @include desktop-card;

    .content-container {
      position: relative;
      // top: -25px;

      header{
        margin-bottom: 20px;
        span:first-child{
          font-size: 13px;
        }
        img{
          width: 15px;
        }
      }
  
      main{
        @include column-layout;
        align-items: flex-start;
        gap: 8px;
        span:first-child {
          font-size: 40px;
        }
        span:last-child{
          font-size: 12px;
        }
      }  
    }
  }
}