$font-stack: Rubik, sans-serif;

// colors
$main-bg: hsl(226, 43%, 10%);
$profile: hsl(246, 80%, 60%);
$element-bg: hsl(235, 46%, 20%);
$element-hover: hsl(235, 45%, 61%);
$text-color: hsl(236, 100%, 87%);
$header-color: white;

$work-card: hsl(15, 100%, 70%);
$play-card: hsl(195, 74%, 62%);
$study-card: hsl(348, 100%, 68%);
$exercise-card: hsl(145, 58%, 55%);
$social-card: hsl(264, 64%, 52%);
$selfcare-card: hsl(43, 84%, 65%);

@mixin mobile-card {
  display: flex;
  justify-content: space-between;
}

@mixin header-color{
  color: $header-color;
}

body{
  font-family: $font-stack;
  background-color: $main-bg;
  color: $text-color;
}

.profile-card {
  .profile{
    background-color: $profile;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 20px;

    img{
      height: 70px;
      aspect-ratio: 1 / 1;
      border: 3px solid $header-color;
      border-radius: 50%;
    }

    div {
      p {
        margin: 5px 0;
      }

      h1{
        margin: 5px 0;
        font-size: 1.6em;
        font-weight: 300;
        @include header-color;
      }
    }
  }

  .time-options {
    @include mobile-card;
    padding: 30px;
    border-radius: 20px;
  }
}

.content-container {
  background-color: $element-bg;

  header, main {
    @include mobile-card;
  }

}
